body{
    margin-left: 5rem;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline solid red;
}
p .no-under{
    text-decoration: none;
}
.bold{
    font-weight: bold;
}
.underline-blue{
    text-decoration: underline solid blue;
}
.ex + .ex{
    margin-top: 100px;
    font-size: 18px;
}
.ex-num{
    font-size: 20px;
    font-weight: bold;
}
.ex h1{
    font-size: 22px;
    text-align: center;
    font-weight: 900;
}
.ex2-table{
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.center{
    text-align: center;
}

.ex3-table td,
.ex3-table th{
    border: 1px solid #000;
    padding: 5px;
}
.ex3-table{
    border-collapse: collapse;
}
.ex3-table th{
    width: 15rem;
    text-transform: uppercase;
}
ul,
ol{
    padding: 10px;
}
.ex5-table{
    border-top: 1px solid #ccc;
}